/* Configuración global */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px;
}

/* Estilos para el contenedor de información del usuario */
.user-info-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

/* Estilos para los párrafos con la información del usuario */
.user-info {
    margin: 10px 0;
}

    .user-info label {
        font-weight: bold;
    }

/* Estilos para el mensaje cuando no hay usuario seleccionado */
#mensajeNoUsuarioSeleccionado {
    color: #888;
    font-style: italic;
}

.ocultar-bloque-usuario {
    display: none;
}

/* Estilos para la tabla de vehículos */
.vehicle-table {
    border-collapse: collapse;
    width: 100%;
}

    .vehicle-table td,
    .vehicle-table th {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    .vehicle-table th {
        background-color: #f2f2f2;
    }

    .vehicle-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Ancho fijo para cada columna */
    .vehicle-table td:nth-child(1),
    .vehicle-table th:nth-child(1) {
        width: 15%;
    }

    .vehicle-table td:nth-child(2),
    .vehicle-table th:nth-child(2) {
        width: 25%;
    }

    .vehicle-table td:nth-child(3),
    .vehicle-table th:nth-child(3) {
        width: 10%;
    }

    .vehicle-table td:nth-child(4),
    .vehicle-table th:nth-child(4) {
        width: 30%;
    }

    .vehicle-table td:nth-child(5),
    .vehicle-table th:nth-child(5) {
        width: 20%;
    }
